/* @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville'); */

#thehero {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: url(https://i.ibb.co/cNrzqms/banner-111.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment:fixed; */
}

.the-inner {
    background-color: none;
    width: 90vw;
    padding: 1rem;
}

.the-inner h1 {
    color: #ffffff;
    /* font-family: 'Libre Baskerville', serif; */
    font-style: italic;
    font-weight: 600;
    line-height: 1.4;
    font-size: 3.5rem;
    text-align: center;

}
/* .the-inner span {
    color: #F06C05;
} */

.the-inner p {
    color: #ffffff;
    text-align: center;
    font-size: 1.6rem;
}





@media only screen and (max-width: 600px) {
    .the-inner h1 {
        color: #ffffff;
        /* font-family: 'Libre Baskerville', serif; */
        font-style: italic;
        font-weight: 600;
        line-height: 1.4;
        font-size: 1.3rem;
        text-align: center;

    }

    .the-inner p {
        color: #ffffff;
        text-align: center;
        font-size: 1rem;
    }
}